body {
    max-height: fit-content;
    padding: 15%;
    background: rgb(251, 169, 161);
    background: -moz-linear-gradient(135deg, rgba(251, 169, 161, 1) 0%, rgba(255, 121, 108, 1) 47%, rgba(240, 139, 17, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(251, 169, 161, 1) 0%, rgba(255, 121, 108, 1) 47%, rgba(240, 139, 17, 1) 100%);
    background: linear-gradient(135deg, rgba(251, 169, 161, 1) 0%, rgba(255, 121, 108, 1) 47%, rgba(240, 139, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fba9a1", endColorstr="#f08b11", GradientType=1);
  
}

#LogoSwipe {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    min-width: 200px;
    max-width: 100px;
    min-height: 100px;
    max-height: 200px;
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    border-style: solid;
    background: rgb(251, 206, 201);
    background: -moz-linear-gradient(168deg, rgba(251, 206, 201, 1) 0%, rgba(246, 154, 90, 1) 36%, rgba(249, 136, 0, 1) 100%);
    background: -webkit-linear-gradient(168deg, rgba(251, 206, 201, 1) 0%, rgba(246, 154, 90, 1) 36%, rgba(249, 136, 0, 1) 100%);
    background: linear-gradient(168deg, rgba(251, 206, 201, 1) 0%, rgba(246, 154, 90, 1) 36%, rgba(249, 136, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbcec9", endColorstr="#f98800", GradientType=1);

}